h1{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: .02em;
}

h2, h3{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .02em;
}

.card{
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 40px;

}

.card__actions{
  position: absolute;
  bottom: 10px;
}
.container{
  max-width: 900px;
}

.event-venue{
  font-weight: bold;
  padding-top: 5px;
}

.event-date{
  font-weight: bold;
  padding-bottom: 10px;
}

.event-heading{
  margin-top: 0px;
  padding: 24px;
}

.event-close{
 text-align:center;
}

.event-card-container{
  padding-top: 15px;
}
.event-map-button{
  color: rgb(66, 129, 244);
  font-size: 12px;
  line-height: 20px;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 40px inset;
  zoom: 1;
  margin: 0px;
  padding: 10px 25px;
  text-decoration: none;
  outline: none;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

.event-description{
  padding: 24px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0px 7px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.social-media-links{

  vertical-align: bottom;
}
.social-media-links iframe {
vertical-align: middle;
}
.social-media-links div span {
vertical-align:middle !important;
}
/*
.btn{
  height:28px;
  font-size: 12px;
  padding-left: 10px;

  line-height: normal;
}
*/
.btn .fa{
  padding-right: 5px;
}

.social-and-link{
  text-align: right;
}
.map-and-calendar{
  text-align: right;
}
main{
  margin-top: 10px;
}

@media only screen and (max-width: 992px) {
  .map-and-calendar{
    margin-top: 10px;
  }
}

/* ---- General Stuff ----- */

#content-wrapper{
  padding-top: 20px;
}
#static-page-wrapper{
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.toolbar__content {
    height: 44px;
}

.alert {
  background-color: #9c27b0c7;
}
/* ------- ADMIN ------------ */

.admin-table{
  border-collapse: collapse;
}

.admin-table td{
  padding:5px;
}

.admin-table tr{
  border: 1px solid black;
  min-width: 200px;
}

.admin-value-to-edit{
  border: 2px solid black;
  padding: 4px;
  min-width: 400px;
}

.user-events-item{
  border: 1px solid black;
  margin: 5px;
}

.share-link-btn {
  padding-right: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 8px;
  font-size: 12px;
}


/* --- Shims that might break a few things in the long run --- */

.speed-dial__list{
  top: 90px;
  z-index: 12;
}

.event-add-wrapper{
  background-color: purple;
  margin-top: 50px;
  margin-left: 200px;
  padding: 5px;
  border-radius: 3px;
}
.event-add-to-list{
  padding-bottom: 10px;
  color: white;
  min-width: 120px;
}

.event-favorite{
  position: absolute;
  top:80px;
  left: 20px;

}
.event-favorite-icon{
  position: absolute;
}
/* ------------- Transition Effects ---------- */

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.0s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
